<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automotive Studio</title>
    <link rel="icon" type="image/x-icon" href="/Images/favicon.ico">
    
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bai Jamjuree' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="headerclass">

            <ul class="navbar">
                <!-- <img class="logo" src="Images/logo.png" alt=""> -->

                <li class="title">AUTOMOTIVE STUDIO</li>
            </ul>
        </div>
    </header>
    <!-- body section  -->
    <section>
        <div class="leftcenter">
            <img src="/Images/logo.png" alt="logo">
        </div>
        <h3> WELCOME TO THE AUTOMOTIVE STUDIO</h3>
        <div class="center">
            <form action="/admin/signIn" method="post" name="adminlogin">
                <div class="centerbox">
                    <div>
                        <input type="text" name="myEmailID" id="EmailID" placeholder="Enter your Email ID">
                    </div>
                    <div>
                        <input type="password" name="myPasswordID" id="Password" placeholder="Password">
                    </div>
                    <div class="center">
                        <button type="submit" value="login">LOG IN</button>  
                    </div>
                    
                </div>
                <div class="account">
                </div>
            </form>
        </div>

    </section>
    <!--end body section  -->
    <footer>
        <p>© All Rights Reserved. Design by <a href="#"> Tahir </a></p>
    </footer>

</body>

</html>