<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automotive Studio</title>
    <link rel="icon" type="image/x-icon" href="/Images/favicon.ico">
    
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bai Jamjuree' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="headerclass">

            <ul class="navbar">
                <li class="title">AUTOMOTIVE STUDIO</li>
            </ul>
        </div>
    </header>
    <!-- body section  -->
    <section>
        <div class="leftcenter">
            <img src="/Images/logo.png" alt="logo">
        </div>
        <h3>WELCOME TO THE AUTOMOTIVE STUDIO</h3>
        <br>
        <div class="center items">
            <img src="/Images/C2-removebg-preview.png" alt="car2">
            <img src="/Images/B1-removebg-preview.png" alt="car1">
            <img src="/Images/C3-removebg-preview.png" alt="car1">
        </div>
        <div class="center items">
            <img src="/Images/S1-removebg-preview.png" alt="car3">
            <img src="/Images/car_img3.png" alt="car3">
            <img src="/Images/B7-removebg-preview.png" alt="car1">
        </div>
        <div class="center items">
            <img src="/Images/C1-removebg-preview.png" alt="car2">
            <img src="/Images/S3-removebg-preview (1).png" alt="car1">
        </div>
        <br>
        <h3>Sell Your Car on Automotive Studio and Get the Best Price</h3>
        <div class="center">
            <button id="start" type="button" onclick=""><a href="/whoseThere">GET STARTED</a></button>
        </div>
    </section>
    <!--end body section  -->
    <footer>
        <p>© All Rights Reserved. Design by <a href="#"> Tahir </a></p>
    </footer>

</body>

</html>