<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAR DEALERSHIPx</title>
    <link rel="icon" type="image/x-icon" href="logo.png">
    
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bai Jamjuree' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="headerclass">

            <ul class="navbar">
                <li class="title">CAR DEALERSHIP</li>
            </ul>
        </div>
    </header>
    <!-- body section  -->
    <section>
        <div class="leftcenter">
            <img src="Images/logo_processed.png" alt="logo">
        </div>
        <h3>WELCOME TO THE CAR DEALERSHIP</h3>
        <br>
        <div class="center items">
            <img src="Images/car1_processed.webp" alt="car2">
            <img src="Images\car2-removebg-preview.png" alt="car1">
            <img src="Images/car3_processed.jpg" alt="car1">
        </div>
        <div class="center items">
            <img src="Images/car4_processed.jpg" alt="car3">
            <img src="Images/car5_processed.jpg" alt="car3">
            <img src="Images/car6_processed.webp" alt="car1">
        </div>
        <div class="center items">
            <img src="Images/car7.webp" alt="car2">
            <img src="Images/car8_processed.jpeg" alt="car1">
        </div>
        <br>
        <h3>Sell Your Car on CAR DEALERSHIP and Get the Best Price</h3>
        <div class="center">
            <button id="start" type="button" onclick=""><a href="/whoseThere">GET STARTED</a></button>
        </div>
    </section>
    <!--end body section  -->
    <footer>
        <p>© All Rights Reserved. Design by <a href="#"> Akif, Abubakar & Zain </a></p>
    </footer>

</body>

</html>