<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAR DEALERSHIP</title>
    <link rel="icon" type="image/x-icon" href="/Images/logo_processed.png">

    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bai Jamjuree' rel='stylesheet'>
    <style>
        body{
            background-color:whitesmoke;
        }
    </style>
</head>

<body>
    <header>
        <div class="headerclass">

            <ul class="navbar">
                <li><a href="/landing" id="landingpage">LOG OUT</a></li>
                <li><a href="/user/ContactUs" id="ContactUs">CONTACT US</a></li>
                <li><a href="/user/AboutUs" id="AboutUs">ABOUT US</a></li>
                <li><a href="/user/Spareparts" id="sparepartspage">SPARE PARTS</a></li>
                <li><a href="/user/Bikes"  id="bikespage">BIKES</a></li>
                <li><a href="/user/Cars" id="carspage">CARS</a></li>
                <li><a href="/user/userhome" id ="adminhome">HOME</a></li>
                <li class="titlehome">CAR DEALERSHIP</li>
            </ul>
        </div>
    </header>
    <!-- body section  -->
    <section>
        <div class="center">
            <img src="/Images/logo_processed.png" style="width: 10%;" alt="aboutlogo">
        </div>
        <h2>Why Choose Us</h2>
        <img src="/Images/1_processed.jpg" style="width: 25%;" alt="#">
        <h4 class="center"> <b>Extensive Product Selection:</b> At Car dealeship, we offer a wide range of automobile products, including parts, accessories, tools, and more. Our vast catalog ensures that customers can find exactly what they need for their vehicles, regardless of make or model.</h4>
        <img src="/Images/2_processed.jpeg" style="width: 25%;" alt="#">
        <h4 class="center"> <b>High-Quality Products:</b> We are committed to providing our customers with top-notch products from reputable brands. We carefully curate our inventory to include only high-quality items that meet rigorous standards for performance, durability, and safety.</h4>
        <img src="/Images/3_processed.jpg" style="width: 25%;" alt="#">
        <h4 class="center"> <b>Competitive Prices:</b> We understand that affordability is essential to our customers. Therefore, we strive to offer competitive prices on all our products. Through strategic partnerships with suppliers and efficient operations, we aim to provide excellent value for money.</h4>
        <img src="/Images/4.png" style="width: 25%;" alt="#">
        <h4 class="center"> <b>User-Friendly Website:</b> Our e-commerce platform is designed with user convenience in mind. The website offers a seamless browsing experience, intuitive navigation, and advanced search options, allowing customers to quickly find the products they are looking for. We also provide detailed product descriptions, specifications, and customer reviews to assist in making informed purchasing decisions.</h4>
        <img src="/Images/5.png" style="width: 25%;" alt="#"> 
        <img src="/Images/6.png" style="width: 25%;" alt="#"> 
        <h4 class="center"> <b>Secure and Convenient Shopping:</b> We prioritize the security and privacy of our customers. Our website is equipped with robust security measures to safeguard sensitive information during online transactions. Additionally, we offer multiple secure payment options, ensuring a hassle-free and secure shopping experience.</h4>
        <img src="/Images/7_processed.png" style="width: 25%;" alt="#">
        <h4 class="center"> <b>Fast and Reliable Shipping:</b> We understand that prompt delivery is crucial to customer satisfaction. Therefore, we partner with reliable shipping providers to ensure that orders are processed and dispatched promptly. We strive to deliver products to our customers in the shortest possible time frame, while also ensuring their safe arrival.</h4>
        <img src="/Images/8_processed.png" style="width: 25%;" alt="#"> 
        <h4 class="center"> <b>Responsive Customer Support:</b> Our dedicated customer support team is readily available to assist customers with any inquiries, concerns, or product-related assistance. We are committed to providing responsive and personalized support through various communication channels, including phone, email, and live chat.</h4>
        <img src="/Images/9_processed.jpeg" style="width: 25%;" alt="#">
        <h4 class="center"> <b>Customer Satisfaction Guarantee:</b> We prioritize customer satisfaction above all else. If a customer encounters any issues with their purchase, we have a straightforward return and exchange policy in place to ensure their satisfaction. Our goal is to ensure that every customer has a positive experience shopping with us.</h4>

    
    </section>
    <!--end body section  -->
    <footer>
        <p>© All Rights Reserved. Design by <a href="#"> Akif, Abubakar & Zain </a></p>
    </footer>

    <script>
        const logout = document.getElementById("landingpage");
        const sparepartspage = document.getElementById("sparepartspage");
        const carspage = document.getElementById("carspage");
        const bikespage = document.getElementById("bikespage");
        const homepage = document.getElementById("adminhome");
        const userpage = document.getElementById("userpage");
        const feedbackpage = document.getElementById("feedbackpage");
        const ContactUs = document.getElementById("ContactUs");
        const AboutUs = document.getElementById("AboutUs");


        ContactUs.addEventListener("click", () => {
            location.href = "/user/ContactUs";
        })
        AboutUs.addEventListener("click", () => {
            location.href = "/user/AboutUs";
        })

        homepage.addEventListener("click", () => {
            location.href = "/user/userhome";
        })
        sparepartspage.addEventListener("click", () => {
            location.href = "/user/Spareparts";
        })
        
        bikespage.addEventListener("click", () =>{
             location.href ="/user/Bikes";
        })

        carspage.addEventListener("click", () =>{
             location.href ="/user/Cars";
        })

        userpage.addEventListener("click", () =>{
             location.href ="/user/Users";
        })

        feedbackpage.addEventListener("click", () =>{
             location.href ="/user/Feedbacks";
        })

        const addcars = document.getElementById("addcarspage");
        const addbikes = document.getElementById("addsparepartspage");
        const addspareparts = document.getElementById("addbikespage");



        addbikes.addEventListener("click", () => {
            location.href = "/user/addbikes";
        })
        addspareparts.addEventListener("click", () => {
            location.href = "/user/addspareparts";
        })
        addcars.addEventListener("click", () =>{
             location.href ="/user/addcars";
        })

        const filercarsbyid = document.getElementById("filercarsbyid");
        const filtercarsbyprice = document.getElementById("filtercarsbyprice");
        const filterbikesbyprice = document.getElementById("filterbikesbyprice");
        const filterbikebyid = document.getElementById("filterbikebyid");
        const filtersparepartbyid = document.getElementById("filtersparepartbyid");
        const filtersparepartbyprice = document.getElementById("filtersparepartbyprice");

        filercarsbyid.addEventListener("click", () => {
            location.href = "/user/retrivecarsbyid";
        })
        filtercarsbyprice.addEventListener("click", () => {
            location.href = "/user/searchCarsbyPrice";
        })
        filterbikesbyprice.addEventListener("click", () =>{
             location.href ="/user/searchBikesbyPrice";
        })
        filterbikebyid.addEventListener("click", () =>{
             location.href ="/user/retrivebikesbyid";
        })
        filtersparepartbyid.addEventListener("click", () =>{
             location.href ="/user/retrivesparepartsbyid";
        })
        filtersparepartbyprice.addEventListener("click", () =>{
             location.href ="/user/searchSparePartsbyPrice";
        })

    </script>
</body>

</html>