<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAR DEALERSHIP</title>
    <link rel="icon" type="image/x-icon" href="/Images/logo_processed.png">

    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bai Jamjuree' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="headerclass">

            <ul class="navbar">
                <li><a href="/landing" id="landingpage">LOG OUT</a></li>
                <li><a href="/user/ContactUs" id="ContactUs">CONTACT US</a></li>
                <li><a href="/user/AboutUs" id="AboutUs">ABOUT US</a></li>
                <li><a href="/user/Spareparts" id="sparepartspage">SPARE PARTS</a></li>
                <li><a href="/user/Bikes"  id="bikespage">BIKES</a></li>
                <li><a href="/user/Cars" id="carspage">CARS</a></li>
                <li><a href="/user/userhome" id ="adminhome">HOME</a></li>
                
                <li class="titlehome">CAR DEALERSHIP</li>
            </ul>
        </div>
    </header>
    <!-- body section  -->
    <section>
        <div class="leftcenter">
            <img src="/Images/logo_processed.png" style="width: 10%;" alt="logo">
        </div>
        <h3>WELCOME TO THE CAR DEALERSHIP</h3>
        <br>
        <h3 class="center">Sell Your Car on CAR DEALERSHIP and Get the Best Price</h3>
        <br>
    </section>
    
    <section>
        <div class="dropdown">
            <button class="dropdown-btn" type="button" onclick="">ADD</button>
            <ul class="dropdown-content">
                <a href="/user/addcars"  id="addcarspage">ADD CAR</a>
                <a href="/user/addbikes" id="addbikespage">ADD BIKE</a>
                <a href="/user/addspareparts" id="addsparepartspage">ADD SPARE PARTS</a>

            </ul>
        </div>
        <div class="dropdown">
            <button class="dropdown-btn" type="button" onclick="">FILTER</button>
            <ul class="dropdown-content">
                <a href="/user/retrivecarsbyid"  id="filercarsbyid">FILTER CAR BY ID</a>
                <a href="/user/searchCarsbyPrice" id="filtercarsbyprice">FILTER CAR BY PRICE</a>
                <a href="/user/searchBikesbyPrice" id="filterbikesbyprice">FILTER BIKE BY PRICE</a>
                <a href="/user/retrivebikesbyid"  id="filterbikebyid">FILTER BIKE BY ID</a>
                <a href="/user/retrivesparepartsbyid"  id="filtersparepartbyid">FILTER SPAREPART BY ID</a>
                <a href="/user/searchSparePartsbyPrice"  id="filtersparepartbyprice">FILTER SPAREPART BY PRICE</a>
               

            </ul>
        </div>
    </section>

    <section>
        <br>
        <div class="center items">
            <img src="/Images/car2-removebg-preview.png" alt="car1">
            <img src="/Images/bike_processed.jpg" alt="car3">
            <img src="/Images/car3_processed.jpg" alt="car2">
        </div>
        <br>
        <h3 class="center">Sell Your Car on CAR DEALERSHIP and Get the Best Price</h3>
        <br>
    </section>
    <!--end body section  -->
    <footer>
        <p>© All Rights Reserved. Design by <a href="#"> Akif, Abubakar & Zain </a></p>
    </footer>


    <script>
        const logout = document.getElementById("landingpage");
        const sparepartspage = document.getElementById("sparepartspage");
        const carspage = document.getElementById("carspage");
        const bikespage = document.getElementById("bikespage");
        const homepage = document.getElementById("adminhome");
        const userpage = document.getElementById("userpage");
        const feedbackpage = document.getElementById("feedbackpage");
        const ContactUs = document.getElementById("ContactUs");
        const AboutUs = document.getElementById("AboutUs");


        ContactUs.addEventListener("click", () => {
            location.href = "/user/ContactUs";
        })
        AboutUs.addEventListener("click", () => {
            location.href = "/user/AboutUs";
        })

        homepage.addEventListener("click", () => {
            location.href = "/user/userhome";
        })
        sparepartspage.addEventListener("click", () => {
            location.href = "/user/Spareparts";
        })
        
        bikespage.addEventListener("click", () =>{
             location.href ="/user/Bikes";
        })

        carspage.addEventListener("click", () =>{
             location.href ="/user/Cars";
        })

        userpage.addEventListener("click", () =>{
             location.href ="/user/Users";
        })

        feedbackpage.addEventListener("click", () =>{
             location.href ="/user/Feedbacks";
        })

        const addcars = document.getElementById("addcarspage");
        const addbikes = document.getElementById("addsparepartspage");
        const addspareparts = document.getElementById("addbikespage");



        addbikes.addEventListener("click", () => {
            location.href = "/user/addbikes";
        })
        addspareparts.addEventListener("click", () => {
            location.href = "/user/addspareparts";
        })
        addcars.addEventListener("click", () =>{
             location.href ="/user/addcars";
        })

        const filercarsbyid = document.getElementById("filercarsbyid");
        const filtercarsbyprice = document.getElementById("filtercarsbyprice");
        const filterbikesbyprice = document.getElementById("filterbikesbyprice");
        const filterbikebyid = document.getElementById("filterbikebyid");
        const filtersparepartbyid = document.getElementById("filtersparepartbyid");
        const filtersparepartbyprice = document.getElementById("filtersparepartbyprice");

        filercarsbyid.addEventListener("click", () => {
            location.href = "/user/retrivecarsbyid";
        })
        filtercarsbyprice.addEventListener("click", () => {
            location.href = "/user/searchCarsbyPrice";
        })
        filterbikesbyprice.addEventListener("click", () =>{
             location.href ="/user/searchBikesbyPrice";
        })
        filterbikebyid.addEventListener("click", () =>{
             location.href ="/user/retrivebikesbyid";
        })
        filtersparepartbyid.addEventListener("click", () =>{
             location.href ="/user/retrivesparepartsbyid";
        })
        filtersparepartbyprice.addEventListener("click", () =>{
             location.href ="/user/searchSparePartsbyPrice";
        })

    </script>

   
</body>

</html>